body {
    background-color: rgb(76, 80, 84);
}

#cardContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 5px 5px;
}

.card {
    cursor: pointer;
    height: 120px;

}

#moves {
    color: white;
    font-weight: bold;
    font-size: 2em;
}